.container{
    display: flex;
    background-color: #393939;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.menu{
    display: flex;
    justify-content: right;
    gap: 25px;
}
.menu > li > a{
    color: white;
}
.usuario{
    gap: 0;
}