.hero_container{
    width: 100vw;
    height: 100vh;

    background-image:linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("http://localhost:3000/_next/image?url=https%3A%2F%2Fimage.tmdb.org%2Ft%2Fp%2Foriginal%2Fraph7qjAGTMXaIjVxt6ZDSXRzUr.jpg&w=3840&q=75");
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.movie_poster{
    width: 5vw;
    height: 15vh;
}

.form_container{
    width: 40vw;
    position: relative;
    top: 25vh;
    margin: 0 auto;
}

.input_component{
    height: 5vh;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    font-family: '__Inter_aaf875', '__Inter_Fallback_aaf875';
    font-weight: 400;
    transition: all 0.5s ease;
    width: 100%;
}

.input_component:focus{
    outline: none !important;
    background-color: rgba(0,0,0,0.7);
}

.logo{
    margin: 0 50%;
}

.search_container{
    opacity: 1;
    width: 100%;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.5);
    color: white;
}

.false{
    opacity: 0 !important;
    display: none !important;
}

.true{
    opacity: 1 !important;
}

.movie_card h2{
    margin-right: 10px;
}

.movie_card{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    transition: all 0.5s ease;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 10px;
    color: white;
    font-size: 0.8em;
}

.movie_card:hover{
    border: 1px solid white;
    background-color: rgba(0,0,0,0.7);
    border-radius: 10px;
}

.movie_card img{
    padding: 10px;
    border-radius: 15px;
}

.container_genres{
    top: unset !important;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
}

.container_genres a{
    margin-top: 10px;
    margin-bottom: 0 !important;
}