
.container_single_movies {
  position: relative;
  height: 1100px;
}

.img_hero {
  display: block;
  width: 100%;
  height: 1100px;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 0;
  margin: 100px 0 0 150px;
  color: white;
  z-index: 10;
  width: 50%;
  height: 100%;
}

.content h1 {
  font-size: 40px;
  padding-bottom: 20px;
}
.content h2 {
  font-size: 24px;
}
.content h3 {
  font-size: 24px;
  padding-right: 60px;
}

.a単o_genero {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}

.a単o_genero div {
  position: unset !important;
}

.a単o_genero div a {
  margin-bottom: 0px !important;
}

.info {
  font-size: 20px;
  padding-bottom: 40px;
}

.container_hero {
  position: relative;
  width: 500px;
  height: 900px;
}

.genre_container{
  margin-left: 30vw;
  width: 40vw;
}

.content_full_width{
    margin-left: 10vw;
}

.content_full_width h2{
    margin: 10px 0 10px 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.2)
  );
}

.cast {
  display: flex;
  align-items: center;
}

.container_genres {
  position: unset !important;
}

.cast_container {
  display: flex;
  flex-wrap: wrap;
}

.cast_container h2 {
  width: 100%;
}

.stream_container img {
  border-radius: 10%;
  margin-right: 10px;
}

.poster_img {
  position: absolute;
  margin-left: 10vw;
  border-radius: 10px;
}

@media screen and (max-width: 1120px){
  .info {
    font-size: 16px;
    padding-bottom: 40px;
  }
  .genre_container{
    margin-left: 30vw;
    width: 40vw;
  }
  .poster_img {
    position: absolute;
    margin-left: 5vw;
    border-radius: 10px;
  }
}
@media screen and (max-width: 790px){
  .info {
    font-size: 12px;
    padding-bottom: 20px;
  }
  .genre_container{
    margin-left: 30vw;
    width: 40vw;
  }
  .poster_img {
    position: absolute;
    margin-left: 0vw;
    border-radius: 10px;
  }
  .a単o_genero {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-bottom: 10px;
  }
  .cast_container h2 {
    font-size: 18px;
  }
  .content_full_width h2{
    font-size: 18px;
}
  .content h3 {
    font-size: 16px;
    padding-right: 10px;
  }
  .container_single_movies {
    position: relative;
    height: 1000px;
  }
  .img_hero {
    display: block;
    width: 100%;
    height: 1000px;
    object-fit: cover;
  }
}




