
  

.container_title_grid {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 10px;
}

.container_title_grid h1 {
  font-size: 30px;
  padding-left: 25px;
  color: white;
}
.container_fetch_movies {
  display: flex;
  align-items: initial;
  flex-wrap: wrap;
  justify-content: center;
}


.movie_card {
  width: 15%;
  background-color: rgb(0, 0, 0);
  border-radius: 1%;
  margin: 1%;
  padding: 20px;
  height: 400px;
  transition: all 0.5s ease;
  border: 1px solid black;
  position: relative;
}
.movie_card img {
  height: auto !important;
}

.container_fetch_movies h2 {
  padding-top: 5px;
  font-size: 20px;
  color: white;
}
.container_fetch_movies h3 {
  color: #ffc901;
  padding-left: 5px;
}

.container_rate_star {
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container_text_movie {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
}

.container_main {
  display: flex;
  width: auto;
  height: fit-content;
  flex-direction: column;
}

.container_main img:first-of-type{
  transition: all ease 1s;

}

.container_hover {
  opacity: 0%;
  transition: all ease 0.5s;
}

.container_hover h4{
  color: white;
  padding-top: 8px;
}

.movie_card:hover .container_hover {
  opacity: 100%;
}

.movie_card:hover{
  border: 1px solid white;
}

.movie_card:hover > .container_main .movie_poster{
  opacity: 0.3;

}

.movie_poster{
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.container_genres{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 20px;
  margin: 5px;
}

.genre_component{
  display: flex;
  margin-right: 5px;
  margin-top: 5px;
  border: 1px solid rgb(132, 0, 0);
  border-radius: 15px;
  background-color: rgba(80, 0, 0, 0.566);
  padding: 5px 7px;
  color: rgb(255, 255, 255);
  transition: all 0.5s ease;
}

.genre_component:hover{
  background-color: black;
  border: 1px solid white;
}

@media screen and (max-width: 1120px){

  
  .container_title_grid h1 {
    font-size: 20px;
    
  }

  
  .movie_card {
 
    height: 300px;

  }
  
 
  
  
  
  .rate_star_img{
    height: 10px;
    width: 10px;
  }
  
  

  .container_text_movie h2{
  font-size: 15px;
  }
  .container_text_movie h3{
    font-size: 12px;
    }
 

  

  .genre_component{
    margin-right: 2px;
    margin-top: 2px;
    font-size: 10px;
  }
  
 
  
}
@media screen and (max-width: 500px){
  .container_fetch_movies {
    flex-direction: column;
    align-items: center;
  }
  .movie_card {
    width: 60%;
    
    height: 540px;
    
  }
  .container_title_grid h1 {
    font-size: 40px;
  }
  .rate_star_img{
    height: 20px;
    width: 20px;
  }
  
  

  .container_text_movie h2{
  font-size: 20px;
  }
  .container_text_movie h3{
    font-size: 20px;
    }
 

  

  .genre_component{
    margin-right: 4px;
    margin-top: 4px;
    font-size: 20px;
  }
}