.container_title_grid {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 10px;
}

.container_title_grid h1 {
  font-size: 30px;
  padding-left: 25px;
  color: white;
}
.container_fetch_movies {
  display: flex;
  align-items: initial;
  flex-wrap: wrap;
  justify-content: center;
}

.movie_card {
  width: 15%;
  background-color: rgb(0, 0, 0);
  border-radius: 1%;
  margin: 1%;
  padding: 20px;
  height: 400px;
  transition: all 0.5s ease;
  border: 1px solid black;
  position: relative;
}

.movie_card img {
  height: auto !important;
}

.container_fetch_movies h2 {
  padding-top: 5px;
  font-size: 20px;
  color: white;
}
.container_fetch_movies h3 {
  color: #ffc901;
  padding-left: 5px;
}

.container_rate_star {
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container_text_movie {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container_main {
  display: block;
}

.container_main img:first-of-type{
  transition: all ease 1s;
}

.container_hover {
  opacity: 0%;
  transition: all ease 0.5s;
}

.container_hover h4{
  color: white;
  padding-top: 8px;
}

.movie_card:hover .container_hover {
  opacity: 100%;
}

.movie_card:hover{
  border: 1px solid white;
}

.movie_card:hover > .container_main .movie_poster{
  opacity: 0.3;
}

.movie_poster{
  border-radius: 10px;
}

.container_genres{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 20px;
  margin: 5px;
}

.genre_component{
  display: flex;
  margin-right: 7px;
  border: 1px solid rgb(132, 0, 0);
  border-radius: 15px;
  background-color: rgba(80, 0, 0, 0.566);
  padding: 5px 7px;
  color: rgb(255, 255, 255);
  transition: all 0.5s ease;
}

.genre_component:hover{
  background-color: black;
  border: 1px solid white;
}